
  .bodyStyle{  
    background-image: url("multiple-choice.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    
    display: block;
    margin-top: 60px;
    width: auto;
    height:100vh;
  }