
    .verticalQuizBar{
      width: 60%;
      height: 85vh;
      background:rgba(255, 255, 255, 0.7);
      float:left;
      margin-left: 5%;
      margin-top: 1%;
      overflow: scroll;
      overflow-x: hidden;
    }
  .verticalQuizBar::-webkit-scrollbar-track-piece{
    background-color: transparent;
  }
  .verticalQuizBar::-webkit-scrollbar{
    width: 0px;
  }


  .horizontalQuizBar{
    width: 60%;
    height: auto;
    max-height: 85vh;
    background:rgba(255, 255, 255, 0.7);
    float:left;
    margin-left: 5%;
    margin-top: 1%;
    overflow: scroll;
    overflow-x: hidden;
  }
.horizontalQuizBar::-webkit-scrollbar-track-piece{
  background-color: transparent;
}
.horizontalQuizBar::-webkit-scrollbar{
  width: 0px;
}

.quizIntroBar{
  width: 60%;
  height: auto;
  border-radius: 30px;
  background:rgba(255, 255, 255, 0.7);
  float:left;
  margin-left: 5%;
  margin-top: 2%;
  }
    .introref{
     margin-left: 10px;
    }
    .introref:hover{
      text-decoration: underline;
    }
    .introStart{
      background-color:  rgba(28, 19, 151, 0.9);
      color: white;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 10px;
      margin-top: 4%;
      margin-bottom: 4%;
      margin-right: 4%;
      width: 90px;
      height: 40px;
      float: right;
      cursor:pointer;
    }
    .introStart:hover{
      border-color: rgba(28, 19, 151, 0.9);
      background-color: white;
      color : black;
    }
    .quizStart{

    }
    .quizStart:hover{
      cursor: pointer;
    }
    .introUser{
      background-color:  rgba(28, 19, 151, 0.7);
      color: white;
      padding: auto;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 10px;
      cursor:pointer;
    }
    .introUser:hover{
      background-color:  rgb(14, 121, 0);
    }
  .introText{
    color: black;
    margin-left: 15%;
  }
  .list{
    list-style: none;
  }
  .introDescription{
    background-color: rgba(30, 255, 0, 0.3);
    width: 80%;
    height: 50px;
    font-size: auto;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.897);
    text-align: center;
    overflow-y: scroll;
    position: relative;
  }
  .introDescription::-webkit-scrollbar-track-piece{
    background-color: transparent;
  }
  .introDescription::-webkit-scrollbar{
    width: 0px;
  }
  .QuizContent{
    margin-left: 10%;
    margin-bottom: 40px;
  }
  .QuizInput{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid 1px black;
    width: 30%;
    overflow: auto;
    background-color: rgba(30, 255, 0, 0.2);
    position: relative;
    margin-left: 10px;
    top:2.2vh;
  }
  .QuizInput::-webkit-scrollbar-track-piece{
    background-color: transparent;
  }
  .QuizInput::-webkit-scrollbar{
    width: 0px;
  }
  .questionTag{
    margin-left: 2%;
    margin-top: 1%;
  }
  .questionText{
    color: rgb(0, 0, 0);
    width: 700px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
  }
  .questionImage{
    position: relative;
    max-width: 60%;
    max-height: 60%;
    min-width: 30%;
  }
  .questionNext{
    background-color:  rgba(28, 19, 151, 0.9);
      color: white;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 10px;
      margin-top: 4%;
      margin-bottom: 1%;
      margin-right: 4%;
      width: 90px;
      height: 40px;
      float: right;
      cursor:pointer;
  }
  .questionCheck{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 1%;
    margin-right: 2%;
    width: 90px;
    height: 40px;
    float: right;
    cursor:pointer;
  }