
#srchQuizBtn {
    border: none;
    background-color: whitesmoke;
    font-size: 20px;
    color: darkslateblue;
    position: absolute;
    bottom: 0;
    right: 0;
}
#srchQuizTitleLbl {
    font-size: 30px;
    color: darkslategray;
    margin-left: 10px;
    font-family: serif;
}

#srchDescLnl {
    margin-top: 10px;
}

#quizCreator {
    font-style: oblique;
    display: inline;
    font: bold;
    position: absolute;
    bottom: 2px;
    left: 2px;
}
#srchQuizBtn:hover{
    color:green;
    cursor:pointer;
}
#srchQuizDescrLbl {
    font-family: monospace;
    color: black;
    font-style: italic;
    font-size: 15px;
}

#quiz-creator-button {
    font-style: oblique;
    border:none;
    background-color:whitesmoke;
}
#quiz-creator-button:hover {
    
    cursor:pointer;
}