#srchAccUsernmaeLbl {
    font-size: 30px;
    color: darkslategray;
    font-family: serif;
    position: absolute;
    top: 0;
    left: 100px;
}

#srchAccBtn {
    border: none;
    background-color: whitesmoke;
    font-size: 20px;
    color: darkslateblue;
    position: absolute;
    bottom: 0;
    right: 0;
}
    #srchAccBtn:hover{
        color:green;
        cursor:pointer;
    }

#srchAccImage {
    color: red;
    color: white;
    display:block;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

#srchAccB1 {
    background-color: whitesmoke;
    border: 1px solid lightslategray;
    padding: 10px;
    border-radius: 5px;
    min-height:150px;
    margin-bottom: 10px;
    height:unset;
    position: relative;

}

#srchAccNameLbl {
    font-style: oblique;
    position: absolute;
    top:30px;
    left: 105px;
}
