.container {
  width: 100%;
  height: 100%;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #DCDCDC;
}

#achievementsTable, #takenQuiz, #friendsTable, #createdQuiz {
  border-collapse: collapse;
  border: 1px;
}

table#takenQuiz th, table#takenQuiz td, table#achievementsTable th, table#achievementsTable td,
table#friendsTable th, table#friendsTable td, table#createdQuiz th, table#createdQuiz td {
  padding-left: 5%;
  text-align: left;
  height: 15%;
}

#takenQuizLabel, #achievementsLabel, #friendsLabel, #createdQuizLabel {
  background-color: #7CBB90;
}

table#takenQuiz td, table#achievementsTable td, table#friendsTable td, table#createdQuiz td {
  padding-left: 10%;
  padding-top: 5%;
  text-align: left;
}
