#friendsSection {
  margin-top: 30%;
  padding-left: 15%;
  max-height: 40%;
  overflow-y: auto;
}

#friendsLabel {
  border-radius: 15px;
  position: sticky;
  top: 0;
  z-index: 10;
  position: -webkit-sticky;
  height: 30px;
  font-size: 20px;
}

#friendsTable {
  width: 70%;
}
