#takenQuizSection {
  height: 700px;
  overflow-y: auto;
}

#takenQuiz {
  width: 100%;
}

#takenQuizLabel {
  border-radius: 15px;
  position: sticky;
  top: 0;
  z-index: 10;
  position: -webkit-sticky;
  height: 30px;
}
