.anouncements{
  margin-left: 300px;
  width: 40vw;
}

.anoncTable{
  margin-bottom: 5%;
  margin-top: 5%;
  width: 90%;
}

.anoncTable td{
  height: 50px;
  border: ridge; 
  text-align: center;
}
  