i {
  border: solid rgb(233, 9, 9);
  border-width: 0 5px 5px 0;
  display: inline-block;
  margin-top: 3px;
  padding: 5px;
  cursor: pointer;
}

.rightArrow {
  float: right;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.leftArrow {
  float: left;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.quizesTable a{
  color:green;
}