.categoriesTable{
    margin-bottom: 5px;
    margin-top: 5%;
    width: 200px;
    min-width: 200px;
    margin-bottom: 5vh;
    margin-left: 40px;
}

.categoriesTable td, .categoriesTable th{
    border-radius: 10%;
    border: ridge; 
    text-align: center;
    border-color: aqua;
}

.categoriesTable th {
    border-color: rgb(2, 75, 5);
    cursor: default
}

.categoriesTable td {
    cursor: pointer;
}