.createdQuizes {
    border-collapse: collapse;
    width: 20vw;
    min-width: 250px;
    margin-top: 5vh;
    background-color: rgb(231, 247, 4);
    color: forestgreen;
}

.createdQuizes td, .createdQuizes th {
    border: 1px solid forestgreen;
    padding: 5px;
}