.homeFriends{
  background-color: #fbfcfa;
  position: sticky;
  left: 90vw;
  top:60px;
  border-left: solid 1px black;
  height: calc(100vh - 60px);
  overflow: scroll;
  width: 10vw;
  min-width: 100px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.homeFriends::-webkit-scrollbar{
  display: none;
}

.friendsTable td{
  border : none;
  height: 30px;
  width: 50px;
  text-align: left;
}
