.navBar{
  overflow-x: scroll;
  position: fixed;
  height:60px;
  top: 0;
  width: 100vw;
  display: flex;
  background-color: forestgreen;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.navBar::-webkit-scrollbar{
  display: none;
}

.logo{
  font-size: 40px;
  margin-right: 10%;
  margin-left: 10vw;
  color:whitesmoke;
}

.search{
  color:darkslategray;
  width: 30vw;
  height: 30px;
  display: flex;
  margin-right: 10vw;
  margin-top: 15px;
}
.searchBtn {
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
  color:darkgreen;
}

.logOut {
    cursor: pointer;
    height: 30px;
    margin-left: 10px;
    color: darkgreen;
    margin-top: 15px;
}

.createNewQuiz {
    position: absolute;
    background-color: forestgreen;
    color: white;
    padding: 5px 8px;
    margin-top: 10px;
    margin-left: 20vw;
    border-radius: 10%;
    cursor: pointer;
    height: 40px;
}

.createNewQuiz:hover {
    background-color:rgb(8, 119, 13);
}
