.takenQuizes {
    border-collapse: collapse;
    width: 20vw;
    margin-top: 5vh;
    background-color: rgb(231, 247, 4);
    color: forestgreen;
}

.takenQuizes td, .takenQuizes th {
    border: 1px solid forestgreen;
    padding: 5px;
}