.nots{
    margin-top:5px
}

.notsTable th{
    border: none;
    border-right: solid 5px rgb(5, 107, 5);
    padding: 8px;
}

.notsTable td{
    padding: 8px;
}

.notification {
    background-color: rgb(56, 105, 168);
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    position: relative;
    border-radius: 10%;
    cursor: pointer;
}

.notification:hover {
    background: rgb(29, 19, 158);
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -7px;
    padding: 1px 5px;
    border-radius: 50%;
    background: red;
}

.notsBody::-webkit-scrollbar{
    display: none;
}

.notsBody{
    width: 330px;
    max-height:50vh;
    table-layout: fixed;
    display: none;
    background:#eef1ee;
    position:fixed;
    overflow: scroll;
}

.notsBody td{
    border:outset 1px rgb(241, 243, 241);
    width: 330px;
}

.from{
    text-align: left;
    margin-top:0px;
    margin-bottom: 0px;
}

a{
    text-decoration: none
}




